<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Pattern" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %highlight{%p} %style{%C{1.} [%t] - ao.traceId : %X{ao.traceId} %m}%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Pattern"/>
        </Root>
    </Loggers>
</Configuration>