<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Redis Redisson Client test</title>
</head>
<body>
    <div id="container" th:with="consoleLineMax=15">
<!--        <s:actionerror/>-->
<!--        <s:actionmessage/>-->
<!--        <s:if test="%{extendedOutput != null}">-->
        <span th:if="${extendedOutput != null}">
            <div class="console">
                <div th:each="line, status: ${extendedOutput}">
                    <span th:if="${status.count <= consoleLineMax}">
                        <span th:text="${line}"></span>
                    </span>
                    <span th:if="${status.count == consoleLineMax + 1}">
                        ...
                    </span>
                </div>
            </div>
        </span>
<!--        </s:if>-->

        <div class="section">
            <div class="title">Redis server</div>
            <form action="#" th:action="@{/set-host}">
                Host:<input type="text" size="30" name="host" th:value="${session.host}"/>&nbsp;
                Port:<input type="text" size="6" name="port" th:value="${session.port}"/><br/>
                <input type="submit" value="Set host/port" class="button"/>
            </form>
        </div>
        <div class="section">
            <div class="title">Operation test</div>
            <form action="#" th:action="@{/test-all}">
                <input type="submit" value="test all operations" class="button"/>
            </form>
            <form action="#" th:action="@{/test-all-async}">
                <input type="submit" value="test all async operations" class="button"/>
            </form>
            <form action="#" th:action="@{/test-all-reactive}">
                <input type="submit" value="test all reactive operations" class="button"/>
            </form>
            <form action="#" th:action="@{/test-low-level}">
                <input type="submit" value="test Synchronous low level Redis Connection" class="button"/>
            </form>
            <form action="#" th:action="@{/test-low-level-async}">
                <input type="submit" value="test Asynchronous low level Redis Connection" class="button"/>
            </form>
            <form action="#" th:action="@{/test-get}">
                <input type="submit" value="test GET" class="button"/>
            </form>
            <form action="#" th:action="@{/test-set}">
                <input type="submit" value="test SET" class="button"/>
            </form>
        </div>
        <div class="section">
            <div class="title">Cross instance test</div>
            <form action="#" th:action="@{/test-migrate}">
                <input type="submit" value="test migrate data to another instance" class="button"/>
            </form>
        </div>
        <div class="section">
            <div class="title">Cluster test</div>
            <form action="#" th:action="@{/test-cluster}">
                Host(s):<input type="text" size="50" name="hostsString" th:value="${session.hostsString}"/><br/>
                <input type="submit" value="test cluster configuration" class="button"/>
            </form>
            <div class="title">Master Slave test</div>
            <form action="#" th:action="@{/test-master-slave}">
                <input type="submit" value="test master-slave configuration" class="button"/>
            </form>
            <div class="title">Sentinel test</div>
            <form action="#" th:action="@{/test-sentinel}">
                <input type="submit" value="test sentinel configuration" class="button"/>
            </form>
        </div>

        <div class="section">
            <div class="title">Re-initialize the DB</div>
            <form action="#" th:action="@{/reset}">
                <input type="submit" value="re-initialize" class="button"/>
            </form>
        </div>
    </div>
</body>

<!--<body>-->
<!--    <p th:text="'Hello, ' + ${extendedOutput} + '!'" />-->
<!--</body>-->
</html>