<web-app id="WebApp_9" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

     <servlet>
	   <display-name>Rest Servlet</display-name>
	   <servlet-name>restServlet</servlet-name>
	   <servlet-class>com.appoptics.test.RestServlet</servlet-class>
	 </servlet>
	 
	 
	 <servlet-mapping>
	   <servlet-name>restServlet</servlet-name>
	   <url-pattern>/*</url-pattern>
	 </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	 
</web-app>