<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/style.css" th:href="@{/css/style.css}"  rel="stylesheet" />
<!--    <link href="../css/style.css"   rel="stylesheet" />-->
    <title>Http Client Test</title>
    <script type="text/javascript">
        function submitForm(formId, action) {
            var form = document.getElementById(formId);
            form.action = action;
            form.submit();
        }
    </script>
</head>
<body>
<div th:with="consoleLineMax=${15}" id="container">
    <!--    <s:actionerror/>-->
    <!--    <s:actionmessage/>-->
    <th:if test="%{extendedOutput != null}">
        <div class="console" th:if="${extendedOutput != null}">
            <div th:each="line,status : ${extendedOutput}">
                <span th:if="${status.count <= consoleLineMax}" th:text="${line}"></span>
            </div>
            <div th:if="${#lists.size(extendedOutput) > consoleLineMax}">
                <span th:text="'...' + ${#lists.size(extendedOutput) - consoleLineMax} +  ' more line(s)...'" />
           </div>
        </div>
    </th:if>

    <div class="section">

        <form action="#" th:object="${request}"  method="post" id="testForm">
            <p>Target URL: <input type="text" th:field="*{url}" /></p>
            <p>Asynchronous: <input type="checkbox" th:field="*{async}" /></p>
       </form>


        <div class="button" onclick="submitForm('testForm', 'test-get')">Test GET</div>
        <div class="button" onclick="submitForm('testForm', 'test-post')">Test POST</div>
        <div class="button" onclick="submitForm('testForm', 'test-delete')">Test DELETE</div>
        <div class="button" onclick="submitForm('testForm', 'test-put')">Test PUT</div>
        <div class="button" onclick="submitForm('testForm', 'test-head')">Test HEAD</div>
        <div class="button" onclick="submitForm('testForm', 'test-options')">Test OPTIONS</div>
    </div>
</div>

</body>
</html>