body {
	background-color: #E0E0EE;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow:1px 1px #EEEEEE;
}

div#container {
	width : 800px;
}

label {
	font-weight: bold;
	font-size: 14px;
}
.text {
	color: #202020	
}

div.section {
	margin-top:10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #FFFFCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow:    3px 3px 3px 3px #ccc, inset 0 0 2px #fff;
  	-webkit-box-shadow: 3px 3px 3px 3px #ccc, inset 0 0 2px #fff;
	box-shadow:         3px 3px 3px 3px #ccc, inset 0 0 2px #fff;
	
}

.errorMessage {
	color: red;
}
.errorLabel {
	color: red;
}


