<web-app id="WebApp_9" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

     <servlet>
	   <display-name>Servlet1</display-name>
	   <servlet-name>servlet1</servlet-name>
	   <servlet-class>com.tracelytics.test.TestServlet</servlet-class>
	 </servlet>
	 
	 <servlet-mapping>
	   <servlet-name>servlet1</servlet-name>
	   <url-pattern>/servlet</url-pattern>
	 </servlet-mapping>
	 
	 <filter>
	 	<filter-name>Filter1</filter-name>
	 	<filter-class>com.tracelytics.test.TestFilter</filter-class>
	 </filter>
	 
	 <filter-mapping>
	 	<filter-name>Filter1</filter-name>
	 	<url-pattern>/filter</url-pattern>
	 </filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	 
</web-app>